.lock*
.venv/
antigravity-accounts.json
antigravity-signature-cache.json
antigravity-logs/
bun.lock
opencode.json?
node_modules
package.json
/.idea
/agent?/docs.md
/agent?/duplicate-pr.md
/agent?/triage.md
/command?/issues.md
/command?/commit.md
/command?/plannotator-review.md
/command?/rmslop.md
/command?/spellcheck.md
/themes/mytheme.json
/tool/github-triage.txt
/tool/github-pr-search.ts
/tool/github-pr-search.txt
/tool/github-triage.ts
/config.json
/.opencode-skillful.json
/models.dev-api.json
/oh-my-opencode.json
/opencode-skillful.jsonc
**/.env
.gitignore
antigravity-accounts.json.*.tmp

/command/plannotator-review.md
